:root {
    //light theme
    --theme: 'light';
    --background-color: #f6eee0;
    --title-color:#003060;
    --secondary-color: #e55b13;
    --paragraph-color: #a47551; 
    --plain-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color 0.25s ease-in, background-color 0.25s ease-in;
}
html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

//components :

@mixin closeIcon {
    position: absolute;
    top: 20px;
    right: 25px;
    transition: all 0.25s ease-in-out;
    color: var(--title-color);
    cursor: pointer;
    padding: 2px;
    transform: scale(1.66);

    &:hover {
        transform: scale(1.75) rotate(90deg);
    }
}
.navbar {
    display: flex;
    padding-top: 1.75rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--title-color);

    .toggle-container {
        display: flex;
        gap: 1rem;
        padding: 0 1rem;
        align-items: center;
        border-radius: 1000px;
        position: relative;
        justify-content: center;
        background-color: var(--title-color);
        cursor: pointer;
        svg {
            color: var(--plain-color);
        }
        .toggle-btn {
            transition: transform 0.33s ease-in-out;
            position: absolute;
            left: 13px;
            width: 30px;
            height: 30px;
            background-color: var(--background-color);
            border-radius: 100%;

            &.transformed {
                transform: translateX(calc(100% + 5px));
            }
        }
    }
    .logo {
        img {width: 150px };
    }
    .navigation {
        display: flex;
        justify-content: center;
        gap: 2rem;
        .btn {
            display: flex;
            justify-content: center;
            gap: 5px;
            align-items: flex-start;
        }
    }  
    .search-container {
        display: flex;
        gap: 10px;
        align-items: center;
        .btn {
            padding: 0.75rem 1rem;
        }
        .btn svg {
            transform: scale(1.2);
        }
    }
    .small-view {
        display: flex;
        padding: 0.5rem 0;
        justify-content: center;   
        width: 100vw;
        input {
            width: 250px;
            margin-right: 1rem;
        }
        .btn {
            padding: 0.75rem 1rem;
        }
        .btn svg {
            transform: scale(1.2);
        }
        align-items: center;
    }
    .searchbar {
        border: none;
        height: 45px;
        outline: 2px solid #ccc;
        border-radius: 5px;
        width: 300px;
    }
    .goBack {
        position: absolute;
        bottom: 1.75rem;
        transform: scale(1.5);
        color: #333;
        cursor: pointer;
        padding: 5px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: var(--title-color);
    color: var(--plain-color);
    font-size: 1.25rem;
    svg {
        color: #de3d2b;
        padding: 0 3px;
    }
}

.card {
    position: fixed;
    left: 50%;
    transform-origin: 0%;
    transition: all 0.5s ease-in-out;
    top: 50%;
    scale: 0;
    transform: translate(-50%, -50%);
    background-color: var(--plain-color);
    padding: 2.5rem 4.5rem;
    border-radius: 10px;

    h1 {
        text-align: center;
        color: var(--title-color);
        margin-bottom: 1rem;
    }

    .btn {
        margin-top: 1rem;
        display: flex;
        align-items: center;

        svg {
            margin-left: 0.5rem;
        }
    }

    .icon {
        @include closeIcon();
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        .radio-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            label {
                margin-top: 0;
                font-weight: 400;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            
            label {
                margin-top: 1rem;
                
                font-weight: bold;
                color: var(--title-color);
            }
        } 

        .btn-container {
            display: flex;
            flex-direction: row;
            gap: 1.25rem ;
            align-items: center;
        }
    }
    
    .stripe-info {
        max-width: 260px;
        color: var(--paragraph-color);
        font-size: 1.1rem;
        padding-top: 1.5rem;
        line-height: 133%;
    }
}

.book-card {
    i,svg {
        color: rgb(255, 153, 0);
    }
    .price {
        color: #248000  !important;
    }
    overflow: hidden;
    min-width: 225px;
    position: relative;
    margin-bottom: 1rem;
    background-color: var(--plain-color);
    display: flex;
    box-shadow: 0px 0px 0px 5px rgba($color: #a47551, $alpha: 0.5);
    box-shadow: 0px 0px 0px 5px rgba($color: #a47551, $alpha: 0.5);
    width: 225px;
    border-radius: 10px;
    flex-direction: column;
    .btn {
        font-size: 1rem;
        padding: 7.5px 20px;
    }
    &>div{
        padding: 1rem;
    }
    h3, .price {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        color: var(--title-color);
    }
    .author, .rating, .views {
        font-size: 1rem;
        color: var(--paragraph-color);
    }

    .views{
        display: flex;
        align-items: center;
        gap: 5px;
        svg {
            color: var(--title-color);
        }
    }
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            display: flex;
            flex-direction: column;
            gap: 7.5px;
        }
    }
    
    img {
        object-fit: cover;
        height: 175px;
    }
}

.toggle-card {
    max-width: 100%;
    h1 {
        font-size: 2rem;
        color: var(--title-color);
        font-weight: 400;
    }

    position: fixed;
    top: 50%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    box-shadow: 0 0 50px rgba($color: #000000, $alpha: 0.5);
    display: flex;
    border-radius: 10px;
    padding: 8rem;
    background-color: var(--plain-color);
    transform: translate(-50%, -50%);
    justify-content: center;

    input {
        text-align: center;
        width: 300px;
        height: 47.5px;
        font-size: 1.25rem;
    }

    button {
        font-size: 1.5rem;
        justify-content: center;
        width: 250px;
    }

    .close {
        @include closeIcon();
    }
}

.rate-card {
    background-color: var(--plain-color);
    h1 {
        text-align: center;
    }
    padding: 4rem 6rem;
    div{ 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        color: var(--paragraph-color);
        margin-top: 3px;
        text-align: center;
        font-style: italic;
    }
}

.comments {
    background-color: var(--plain-color);
    padding: 3rem 0;
    h2 {
        color: var(--title-color);
        font-size: 1.5rem;
    }
    .send-comment {
        padding: 1.5rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        input {
            width: 300px;
            border-radius: 5px;
        }
        border-bottom: 1px solid #ccc;
    }
    .comment {
        padding: 1rem 0.25rem;
        p {
            padding-right: 1rem;

            span {
                color: var(--title-color);
                font-weight: 500;
            }
        }
        font-size: 1.25rem;
        color: var(--paragraph-color);
        line-height: 175%;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .more {
            display: flex;
            margin-right: 1rem;
            align-items: center;
            gap: 2rem;
            color: var(--title-color);

            svg {
                cursor: pointer;
                transition: transform 0.1s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
            .trash-icon {
                color: #de3d2b;
            }
        }
    }
}

#sorry {
    color: var(--title-color);
    margin-top: 1rem;
}

.dropdown {
    border: 1px solid #333;
    z-index: 4;
    width: 125px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    position: absolute;
    margin-top: 5px;
    background-color: #f4f4f4;
    li, a {
        text-decoration: none;
        color: #333;
        cursor: pointer;
        padding: 1rem;
        border-bottom: 1px solid #ccc;
        &:hover {
            background-color: #e1e1e1;
        }
    }
    div:first-of-type {   
        border-bottom: 1px solid #ccc;
    }
    img {
        width: 20px;
        height: 15px;
    }
    p {
        color: #333;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 5px;
    }
    .toggle-container {
        padding: 0.5rem 0.5rem !important;
        margin: 1rem;
    }
    .appearance:hover {
        background-color: #e1e1e1;
    }
}
.outside {
    background-color: transparent;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

//pages :

.landing {
    background-color: var(--background-color);
    width: 100vw;
    display: flex;
    padding-top: 8rem;
    padding-bottom: 8rem;
    p {
        max-width: 75%;
        margin: 2rem 0;
        line-height: 150%;
        color: var(--paragraph-color);
        font-size: 1.1rem;
    }
    justify-content: space-between;
    img {
        object-fit: cover;
    }
}

.home, .search-page, .myBooks {
    padding-top: 2.5rem;
    min-height: 80vh;
    padding-left: 10%;
    background-color: var(--plain-color);
    .row {
        h2 {
            color: var(--title-color);
            font-size: 1.5rem;
            padding-bottom: 1.5rem;
        }
        padding-bottom: 4rem;
        .scroll {
            overflow-x: auto;
            max-width: 80vw;
            position: relative;
            padding: 1rem;
            display: flex;
            justify-content: flex-start;
            gap: 4rem;
        }
    }
}

.uploadPage {
    background-color: var(--plain-color);
    .publish {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-2.5rem);
        font-size: 1.75rem;

        padding: 1rem 3rem;
        text-align: center;
    }
    .together {
        display: flex;
        margin-top: 2rem;
        align-items: align-start;
        justify-content: space-between;
    }
    padding: 5rem 10%;
    .title {
        text-align: center;
    }
    .book-card .btn {
        pointer-events: none;
    }
    .left {
        border-radius: 10px;
        // box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.15);
        // padding: 0rem 5rem;
    }
    .dflex {
        display: flex;
        flex-direction: column;
        label {
            color: var(--paragraph-color);
            font-size: 1.5rem;
            margin-bottom: 0.75rem;
        }
        div {
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-bottom: 2rem;
        }
    }
    input, .textarea {
        margin-bottom: 2rem;
    }
    input[type='file'] {
        width: 150px;
        height: 45px;
        cursor: pointer;
        color: white;
        position: relative;
    }
    input[type='file']::after {
        position: absolute;
        top: 0;
        padding-top: 10px;
        font-size: 1.25rem;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: var(--secondary-color);
        content: 'Upload file';
    }
    .file::after {
        content: 'Upload file' !important;
    }
}

.detailsPage {
    .details {
        background-color: var(--background-color);
        padding: 5rem 10%;
        display: flex;
        gap: 5rem;
    }

    .rate-btn {
        margin-left: 1rem;
        align-self: center;
        font-weight: 200;
        cursor: pointer;
        text-transform: lowercase;
        font-size: 1.33rem;
        color: var(--title-color);
        text-decoration: underline;
    }

    .stars {
        display: flex;
        gap: 7.5px;
        margin-top: 1.25rem;
        align-items: center;

        svg.empty {
            stroke-width: 66;
            stroke: rgb(255, 153, 0);
            color: transparent;
        }
        svg.filled {
            transform: scale(1.1);
            color: rgb(255, 153, 0);
        }
    }

    .tags {
        margin-top: 1rem;
        .tag {
            padding: 0.35rem 1.25rem;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
            margin-top: 2.5rem;
            color: var(--title-color);
            font-size: 1.1rem;
            line-height: 175%;
        }
    }
    ul {
        list-style: none;
        li {
            color: var(--title-color);
            font-size: 1.1rem;
            margin: 0.5rem 0;
        }
    }
    img {
        width: 250px;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
    }
    .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
            font-size: 1.5rem;
            margin: 1rem 0;
            margin-top: 2.5rem;
            color: var(--paragraph-color);
        }
    }
    .price {
        margin-top: 0 !important;
        color: #248000 !important;
        font-size: 1.5rem;
    }
    .flex {
        display: flex;
        margin-top: 2.5rem;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }
}

.not-found, .access-denied {
    background-color: var(--background-color);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 3rem;
    justify-items: center;
    h1 {
        color: var(--title-color);
        font-size: 10rem;
        letter-spacing: 15px;
    }
    h2 {
        margin-top: -1rem;
        font-weight: normal;
        color: var(--paragraph-color);
        font-size: 2.5rem;
    }
    a {
        margin-bottom: 5rem;
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }
}

.reading-page {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.myBooks {
    padding: 5rem 0;
    h1 {
        text-align: center;
        font-size: 2.75rem;
        color: var(--title-color);
    }
    h3.not-yet, .row {
        padding-left: 10%;
        margin-top: 2rem;
    }
    .not-yet {
        font-size: 1.75rem;
        font-weight: 400;
        color: var(--paragraph-color);
    }
}

.stripe-account {
    background-color: var(--background-color);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    h1 {
        color: var(--title-color);
        font-size: 3.5rem;
        margin-top: 3rem;
        font-weight: 500;
    }
    p {
        padding-right: 10%;
        line-height: 150%;
        margin: 2rem 0;
        font-size: 1.25rem;
        color: var(--paragraph-color);

        a {
            color: var(--title-color);
        }
    }
    .btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        margin-bottom: 5rem;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }
}

.payment-page {
    background-color: var(--background-color);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
        color: var(--title-color);
        font-size: 3.5rem;
        margin-top: 3rem;
        font-weight: 500;
    }
    h2 {
        font-weight: normal;
        color: var(--paragraph-color);
        font-size: 1.5rem;
        margin-top: 1rem
    }
    div.paybuttons {
        width: 350px;
        max-width: 95%;
    }
}
.success-page, .cancel-page {
    display: flex;
    min-height: 75vh;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 5rem 10%;
    justify-content: space-between;
    background-color: var(--background-color);
    div {
        width: 50%;
    }
    img {
        width: 450px;
    }
    h1 {
        color: var(--title-color);
        font-size: 4rem;
    }
    p {
        font-size: 1.5rem;
        color: var(--paragraph-color);
        margin: 2rem 0;
    }
    a, button {
        font-size: 1.25rem;
    }
}
.access-denied {
    min-height: 75vh;
    h1 {
        font-size: 5rem;
        letter-spacing: normal;
    }
    h2 {
        font-size: 2rem;
    }
}

@import './utilities.scss';
@import './responsive.scss';